/* header */
.heading {
  font-size: 55px;
  width: 100%;
  height: 12vh;
  object-fit: cover;
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(48, 141, 53);
}
.left {
  height: 100%;
  cursor: pointer;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.ent {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* trneding */
.home {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trending {
  width: 95%;
  height: 78vh;
  margin: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
  place-items: center;
}
.movie {
  padding: 20px;
  cursor: pointer;
}
.m {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
}
.d {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11px;
}
.h {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  margin: 6px 0px;
  height: 55px;
  overflow: hidden;
}
@keyframes plus{
  0%{
    background-color: white;

  }
  100%{
    background-color: #bd994b;
  }
}
.movie:hover {
  animation:plus  0.5s ease-in forwards;
}
.movie-i {
  width: 80%;
  margin: 5px 20px;
  object-fit: cover;
}
.date {
  display: flex;
  justify-content: space-between;
  color: black;
}
.pag {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.loading{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pag-i {
  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
  margin: 0px 10px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pag-i:hover {
  background-color: black;
  color: white;
}
.tt {
  font-size: 25px;
  height: 2vh;
  color: white;
}
/* movies */
.tt {
  font-size: 25px;
  height: 2vh;
  color: white;
}
/* search/ */
.search-here {
  width: 80vw;
  height: 65px;
}
.search {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 10px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.s-i {
  height: 90%;
  width: 70%;
  color: white;
  /* margin: -15px 5px; */
  padding: 5px 10px;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  flex-direction: column;
  /* align-items: center; */
  background-color: #bd994b
}
.inp {
  border: none;
  width: 100%;
  height: 67%;
  background-color: transparent;
  outline: none;
}

.search-by {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}
.sbi {
  margin: 0px 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* footer */
.footer {
  background-color:rgb(48, 141, 53);
  width: 100%;
  height: 10vh;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}
.s {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}
.sel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.i {
  color: white;
  font-size: 20px;
}
/* movie/ */
.mov {
  width: 100%;
  height: 1000px;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 100px;
}
.mov-i {
  width: auto;
  height: auto;
  object-fit: cover;
  margin: 18px 10px;
  border: 1px solid black;
}
.desc {
  border: 1px solid black;
  color: white;
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: 10px 0px;
  height: auto;
  align-items: center;
}
.y-s {
  color: white;
  font-size: 20px;
  margin: 0px 10px;
}
.de {
  margin: 76px 0px;
  font-size: 20px;
  width: 90%;
  color: black;
  font-family: sans-serif;
}
.head {
  color: white;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px 0px;
}

.watch-trailer {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  color: white;
  display: flex;
  background-color: #ff133c;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
}
.s-i {
  cursor: pointer;
}
.similar-h {
  width: 90%;
  height: auto;
   margin: 10px 0px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.similar-movies {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  column-gap: 10px;
  row-gap: 10px;
}
.tag {
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: cursive;
}
/* error */
.error {
  width: 100%;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #394046;
  flex-direction: column;
}
.txt {
  color: white;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.red {
  width: 188px;
  height: 70px;
  margin: 20px 0px;
  border: navajowhite;
  cursor: pointer;
  background-color: #1a1414;
  color: white;
  font-size: 15px;
}
/* responsive */
@media (max-width: 1200px) {
  .sel {
    margin: 0px 40px;
  }
}
@media (max-width: 750px) {
  .trending {
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .ent {
    font-size: 40px;
  }
  .tt {
    font-size: 15px;
  }
  .i {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .trending {
    grid-template-columns: 47% 47%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .sel {
    margin: 0px 23px;
  }
  .ent {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .sel {
    margin: 0px 18px;
  }
}
